<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint name ="MyDiskInfoServerEndPoint"
                      address="http://localhost/Temporary_Listen_Addresses/MyDiskInfoServer"
                      binding="wsHttpBinding"
                      contract="MyDiskInfoLibrary.IMyDiskInfoServer">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>